@model IEnumerable<ProyectoAutos.Models.Autos>

@{
    ViewBag.Title = "Panel de Autos";
}

<div class="page-header">
    <h1>Dashboard<small>Panel de Automoviles</small></h1>
</div>

@if (Session["idUsuario"] != null) {
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@Html.DisplayFor(modelItem => item.nombre)</div>

                <div class="panel-body">
                    <table>
                        <tr>
                            <td colspan="2">
                                @if (item.archivo.Any(a => a.tipo == ProyectoAutos.Models.FyleType.Imagen))
                                {
                                    
                                   <a class="thumbnail"> <img width="200" src="~/Archivo/Obtener?id=@item.archivo.First(a => a.tipo == ProyectoAutos.Models.FyleType.Imagen).idArchivo" /></a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Marca: </td>
                            <td>@Html.DisplayFor(modelItem => item.marca)</td>
                        </tr>
                        <tr>
                            <td>Modelo: </td>
                            <td>@Html.DisplayFor(modelItem => item.modelo)</td>
                        </tr>
                        <tr>
                            <td>Precio: </td>
                            <td>@Html.DisplayFor(modelItem => item.precio)</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Edit", "Edit", new { id = item.idAutos }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idAutos }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idAutos })
                </div>
            </div>
        </div>
    }
</div>
}else{
    <h2>Inicie sesion para continuar</h2>
}